@media screen and (max-width:576px) {
    body{

    }
    .icon{
        display: inline;
        padding: 21px;
        font-size: 30px;
    }
    #icon{
        font-size: 15px;
        align-items: center;
        display: inline;
    }
    .navbar {
        margin-right: 26px;
    }
    .nav-item{
        display: none;
    }
    .nav-links{
        border: none;
    }
     .banner, .habit-card, .runex, .bmi-forms{

        flex-direction: column;
        width: 100%;
     }
     .banner-title {
        font-size: 2rem;
        margin-left: -27px;
    }
     .banner-description {
        width: 256px;
        margin-left: -25px;
    }
    .bm .btn-1, .btn-2 {
        padding: 15px;
    }
    .bm {
        
    }
    .banner-img img {
        width: 100%;
    }
    .box-t {
        margin-left: 154px;
        margin-top: -84px;
    }
    .box-b {
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.1);
        width: 200px;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: -316px;
    }
    .habit-title, .bmi-title{
        padding: 0px;
        width: 100%;
    }
    .habit-title h1, .bmi-title h1{
        font-size: 2rem;
    }
    .h-card {
        padding: 0px 90px;
    }
    .runex-caption {
        margin-right: 0px;
        margin-left: -48px;
        margin-bottom: -394px;
    }
    .runex-caption h1 {
        font-size: 39px;
        font-weight: 900;
    }
    .runex-caption p {
        width: 322px;
        font-size: 13px;
    }
    .runex-caption button {
        width: 308px;
    }
    .runex {
        padding: 55px;
        margin: 10px;
        width: 216px;
        margin-left: 24px;
    }
    .runex-img img {
        margin-left: -24px;
        width: 100%;
    }
.gm{
    font-size: 1rem;
}
.bmi-forms {
    height: 100%;
    width: 109%;
    padding-bottom: 17px;
}

}